.menuContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 75px;
    background: #2e3440;
}
.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: calc(100% - 20px);
    padding: 0px 10px;
    border-bottom: 1px solid #3b4253;
}
.logo {
    height: 36px;
  }
.logoFull {
    width: 100%;
    height: auto;
}
.iconWrapper {
    display: flex;
    justify-content: center;
    width: 20px;
}
.linkWrapper {
    display: flex;
    justify-content: center;
    width: calc(100% - 40px);
    cursor: pointer;
    align-items: center;
    position: relative;
    color: #fff;
    height: 50px;
    padding: 0px 20px;
    font-size: 16px;
}
.linkWrapper:hover {
    color: #3e96ed;
}
.expandWrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: calc(100% - 40px);
    cursor: pointer;
    align-items: flex-end;
    position: relative;
    color: #fff;
    padding: 0px 20px;
    margin-bottom: 25px;
    font-size: 16px;
}
.expandWrapper:hover {
    color: #3e96ed;
}
.linkWrapper:hover [data-role='tooltip'],
.expandWrapper:hover [data-role='tooltip']  {
    display: block;
  }
  .versionWrapper {
      display: flex;
      padding: 5px;
      max-height: 20px;
      flex-grow: 1;
      justify-content: center;
      color: #fff;
        font-size: 12px;
        margin: 0px;
  }
.menuTitle {
    margin: 0px;
    flex-grow: 1;
    font-weight: 400;
    font-size: 13px;
    margin-left: 15px;
}