.tableContainerWrapper {
  display: flex;
  flex-direction: column;
  margin: 71px 20px 20px 20px;

  .customToolBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 14px;
    margin-left: 24px;
    margin-bottom: 20px;
    z-index: 1000;
    position: absolute;
  }
}

.customToolbarPlaceholder {
  min-height: 64px;
}

