@import "src/scss/styles";

.toolbar {
  background-color: $color-2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  padding-left: 25px;
  min-height: 50px !important;
}

.contentAlign {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 25px;
  padding: 25px;
}

.contentAlignSecond {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 25px;
}

.projectItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $color-2;
  border-radius: 15px;
  width: 200px;
  height: 150px;
  padding: 15px;
}
.rootColor {
  color: $color-5;
}
.header {
  color: $color-5;
  font-weight: bold;
}
.secondText {
  color: $color-4;
  font-size: 14px;
  margin-top: 5px;
}
.logout {
  cursor: pointer;
}

.addNewJob {
  cursor: pointer;
  margin-right: 15px;
}

.textColor {
  color: $color-5;
}

.mainColumnText {
  color: $color-10;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inputStyles {
  height: 30px;
}
.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 10px;
}

.smallItem {
  width: 35%;
  margin-right: 15px;
}

.top {
  margin-top: 0;
}

.tabValue {
  padding: 25px;
}

.rowPadding {
  padding: 0;
}

.label {
  font-size: 16px;
  color: $color-5;
  margin-bottom: 3px;
}

.rowPaddingSelect {
  width: 32.4%;
  margin-right: 20px;
}

.rowPaddingSelectLast {
  width: 32.3%;
}

.addMore {
  background-color: $color-4;
  color: $color-5;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.addMoreButton {
  margin-left: 5px;
}

.align {
  margin-left: 0;
  margin-top: 0;
}

.tableContainerWrapper {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  margin-right: 20px;
}

.containerLast {
  flex: 1;
}

.separator {
  margin-left: 30px;
  margin-right: 30px;
}
