@import "src/scss/styles";

.navigationContainer {
    display: flex;
    align-items: center;
    height: 46px;
    width: 100%;
    padding-left: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid #cfd7e6;
    background: #fff;
}

.header {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color: #62738d;
}
.header:hover {
    color: #3e96ed;
}

.iconContainer {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
}

.logout {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    border-left: 1px solid #cfd7e6;
}
.logout:hover svg, .iconContainer:hover svg {
    color: #3e96ed;
}

.separator {
    margin-left: 30px !important;
    margin-right: 30px !important;
    color: #818fa3;
}

.flex {
    flex-grow: 1;
}
