@import "src/scss/styles";

.navigationWrapper {
    display: flex;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid lighten(#292929,10%);
    z-index: 2;
    background: #292929;
}
.navigationContainer {
    display: flex;
    align-items: center;
    max-width: 1250px;
    width: 100%;
    margin: auto;
}
.flexGrow {
    flex-grow: 1;
}
.navigationLink {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    padding: 0px 20px;
    font-size: 12px;
    letter-spacing: 1px;
    align-items: stretch;
    font-weight: 600;
}
.navigationLink:hover {
    color: #d9ba75;
}
