@import "src/scss/styles";

.privateLayout {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 1200px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  background: lighten(#2e3440,77%);
  width: calc(100% - 75px);
  min-width: 1125px;
}

.scroll {
  min-height: calc(100vh - 47px);
}
.scroll > div {
  display: flex;
  flex-direction: column;
}
.scroll > div:nth-child(2) {
  height: 0px !important;
}

.views {
  display: flex;
  padding: 25px;
  flex-direction: column;
  flex-grow: 1;
}
