@import 'scss/common';

.checkboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  cursor: pointer;
  color: #62738d;
}
.checkboxContainer:hover {
  color: #3e96ed;
}
.checkboxInput {
  cursor: pointer;
  margin: 0px;
  margin-right: 10px;
}
.checkboxLabel {
  color: #62738d;
  font-size: 13px;
  margin: 0px;
  font-weight: 400;
}
.toggleContainer {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
}
.toggleText:first-child {
  margin: 0px;
  padding-right: 10px;
}
.toggleText:last-child {
  margin: 0px;
  padding-left: 10px;
}
.toggleActive {
  color: #3e96ed;
}
