@import "src/scss/styles";

.cell {
  padding: 0px 5px;
  color: #62738d;
  font-weight: 400;
  font-size: 13px;
  align-self: center;
  margin: 0px;
  width: 100%;
}
.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.splitContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-right: 20px;
}
.parameterTitle {
  margin: 0px;
  color: #62738d;
  font-size: 14px;
  margin: 10px 0px;
}
.inputStyles {
  height: 10px;
}

.inputStylesSmall {
  height: 5px;
  width: 80px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex: 1;
  border-bottom: 1px solid $color-4;
}

.container {
  flex: 1;
  margin-top: 10px;
}
.container:first-child {
  margin-top: 0px;
}
.containerInput {
  flex: 1;
  margin-right: 20px;
}

.containerInputLast {
  flex: 1;
}

.inputSmall {
  max-width: 33.33%;
}
.inputMedium {
  min-width: 50%;
  max-width: 50%;
  margin-right: 20px;
}
.inputLarge {
  min-width: 66.66%;
  max-width: 66.66%;
  margin-right: 20px;
}

.tabValueAlt {
  padding: 25px 0 0 0;
}

.tabValueAlt {
  margin-top: 25px;
}

.removeCell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #62738d;
  font-size: 13px;
  align-items: center;
  margin-bottom: 0px;
}
.removeCell:hover {
  color: #3e96ed;
}

