@import "src/scss/styles";

.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.containerRowSmall {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}
.splitContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-right: 20px;
}
.inputStyles {
  height: 10px;
}

.inputStylesSmall {
  height: 5px;
  width: 80px;
}

.formControl {
  width: 49%;
}

.customHeight {
  height: 5px;
}
.longInput {
  width: 65%
}
.shortInput {
  width: 35%;
}
.divider {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex: 1;
  border-bottom: 1px solid $color-4;
}
.label {
  font-size: 13px;
  color: $color-5
}

.addMore {
  background-color: $color-4;
  color: $color-5;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.addMoreButton {
  margin-left: 5px;
}

.container {
  flex: 1;
  margin-top: 10px;
}
.container:first-child {
  margin-top: 0px;
}
.containerInput {
  flex: 1;
  margin-right: 20px;
}

.containerInputLast {
  flex: 1;
}
.containerBig {
  width: 50%;
  margin-top: 10px;
}
.inputSmall {
  max-width: 33.33%;
}
.inputMedium {
  min-width: 50%;
  max-width: 50%;
  margin-right: 20px;
}
.inputLarge {
  min-width: 66.66%;
  max-width: 66.66%;
  margin-right: 20px;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  display: none;
}

.tabValueAlt {
  padding: 25px 0 0 0;
}

.tableContainerWrapper {
  display: flex;
  flex-direction: column;
}

