@import "src/scss/styles";

.pageWrapper {
  display: flex;
  flex-wrap: wrap;
}
.removeCell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #62738d;
  font-size: 13px;
  align-items: center;
  margin-bottom: 0px;
}
.removeCell:hover {
  color: #3e96ed;
}

.contentAlign {
  padding: 20px;
  border-radius: 0;
  width: 100%;
  border: 1px solid #cfd7e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.contentAlignSecond {
  display: flex;
  flex-direction: column;
  background: transparent;
  margin-top: 25px;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}
.tabsWrapper {
  border: 1px solid #cfd7e6;
  background: #fff;
  min-height: 44px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 10px;
}
.containerRow:last-child {
  margin-bottom: 0px;
}

.tabValue {
  padding: 20px;
  border: 1px solid #cfd7e6;
  border-top: none;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.tabValueAlt {
  margin-top: 25px;
}

.container {
  flex: 1;
  margin-right: 20px;
}

.containerLast {
  flex: 1;
}

.inputSmall {
  width: 33.33%;
  max-width: 33.33%;
}
.inputMedium {
  width: 66.66%;
  max-width: 66.66%;
}
.topItem {
  margin-top: 10px;
}

.containerLeft {
  width: 33.33%;
  padding-right: 15px;
}
.containerMiddle {
  width: 33.33%;
  padding-left: 5px;
  padding-right: 5px;
}
.containerRight {
  width: 33.33%;
  padding-left: 15px;
}
