@import "src/scss/styles";

.cell {
  //display: flex;
  align-items: center;
  flex: 1 1;

  label {
    margin-bottom: 0;
    margin-right: 15px;
    white-space: nowrap;
    font-weight: 400;
  }

  .field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1;
  }
}

.error {
  label {
    margin-bottom: 20px;
  }
}

.errorMessage {
  font-size: 15px;
  font-weight: bold;
  color: $color-13;
}


.cell:last-child {
  margin-right: 0;
}

.textField {
  .inputFocused {
    .notchedBorder {
      border-color: $color-1;
    }
  }

  .label {
    font-size: 16px;
    color: $color-5
  }
}

.label {
  font-size: 16px;
  color: $color-5
}

.input {
  height: 35px;
}


