// color palette

$color-1: #f7f8fb; // light grey
$color-2: #e7ebf3; // light grey
$color-3: #e9f2ff; // light blue
$color-4: #cfd7e6; // light grey
$color-5: #818fa3; // grey
$color-6: #62738d; // blue grey
$color-7: #3b4253; // dark grey
$color-8: #2e3440; // dark grey
$color-9: #39404c; // dark grey
$color-10: #3e96ed; // blue
$color-11: #b8c2d1; // grey
$color-12: #5db85b; // green
$color-13: #d9534f; // red
$color-14: #ef6f6f; // light red
$color-15: #f7d7da; // light red

// fonts

$font-1: 'Lato', sans-serif; // primary - google fonts

