@import "src/scss/styles";

.pageWrapper {
  display: flex;
  flex-wrap: wrap;
}

.projectItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #cfd7e6;
  cursor: pointer;
  background: #fff;
  border-radius: 15px;
  width: 200px;
  height: 150px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.projectItemAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border: 1px solid #cfd7e6;
  cursor: pointer;
  border-radius: 15px;
  width: 200px;
  height: 150px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  p {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #62738d;
  }
}
.projectItem:hover, .projectItemAdd:hover {
  border: 1px solid #3e96ed;
  .projectHeader, .secondText, svg, p {
    color: #3e96ed;
  }
}

.projectHeader {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: #62738d;
  overflow-wrap: break-word;
}
.projectFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondText {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #62738d;
  overflow-wrap: break-word;
  margin: 0px;
}
