@import "src/scss/styles";

.toolbar {
  background-color: $color-1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  padding-left: 25px;
  min-height: 45px !important;
  height: 45px;
  border-bottom: 1px solid $color-2;
}

.contentAlign {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 10px;
  cursor: pointer;
}

.projectItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $color-2;
  border-radius: 15px;
  width: 200px;
  height: 150px;
  padding: 15px;
}
.rootColor {
  color: $color-5;
}
.header {
  color: $color-5;
  font-weight: bold;
}
.secondText {
  color: $color-4;
  font-size: 14px;
  margin-top: 5px;
}
.logout {
  cursor: pointer;
}

.stateRed {
  background-color: $color-13;
  padding: 5px;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
}
.stateGreen {
  background-color: $color-12;
  padding: 5px;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
}
.stateGrey {
  background-color: $color-11;
  padding: 5px;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
}

.textColor {
  color: $color-5;
}

.mainColumnText {
  color: $color-10;
}

.separator {
  margin-left: 40px;
  margin-right: 40px;
}

.text {
  font-size: 14px;
  color: $color-6;
}

